html{
  width:380px;
  height: 700px;
  padding: 10px;
  box-sizing: border-box;
}

.header{
  padding: 10px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.memoList {
  margin-top: 100px;
}